<%- title "Create Task" -%>
<%- breadcrumb parent, parent -%>

<%= simple_form_for resource, :url => [parent, resource], :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.input :name, :placeholder => 'cap stagename taskname args=##' %>
  <%= f.input :description, :as => :text, :input_html => { :class => "span8", :rows => 5, :style => "height:80px;" } %>

  <div class="form-actions">
    <%= f.button :submit, 'Create' %>
    <%= f.button :cancel, :url => project_path(parent) %>
  </div>

<%- end %>
