<% title "New Job" %>
<% subtitle "task: #{resource.task.name}" %>
<% breadcrumb "Projects", projects_path %>
<% breadcrumb parent, parent %>

<%= simple_form_for resource, :url => [parent, resource], :html => { :class => 'form-horizontal' } do |f| %>

  <div class="control-group">
    <label class="control-label">Task</label>
    <div class="controls">
      <span class="input-xlarge uneditable-input"><%= resource.task.name %></span>
      <%= f.hidden_field :task_id %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Start Task', :disable_with => "Starting task..." %>
    <%= f.button :cancel, :url => parent_path %>
  </div>

<%- end %>
